<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025176948085-ndcjdon4fdmfakubpfu20kirj5skcpev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025176948085-ndcjdon4fdmfakubpfu20kirj5skcpev</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1025176948085-tgu2lso7c5qe8dc4e5noki29eqtregh8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfOQgzyFU4oaQFx1m3r73a14RmkgZZNVI</string>
	<key>GCM_SENDER_ID</key>
	<string>1025176948085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apptomate.Golf.Ios</string>
	<key>PROJECT_ID</key>
	<string>golf-264515</string>
	<key>STORAGE_BUCKET</key>
	<string>golf-264515.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
</dict>
</plist>
