<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>Golf</string>
	<key>CFBundleIdentifier</key>
	<string>com.apptomate.Golf.Ios</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>Golf</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>URL Type 1</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>com.googleusercontent.apps.1025176948085-ndcjdon4fdmfakubpfu20kirj5skcpev</string>
      </array>
    </dict>
    <dict>
      <key>CFBundleURLName</key>
      <string>URL Type 2</string>
    </dict>
  </array>
  <array>
    <dict>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>fb1036432036689831</string>
      </array>
    </dict>
  </array>
  <key>FacebookAppID</key>
  <string>1036432036689831</string>
  <key>FacebookDisplayName</key>
  <string>GolfFacebookLogIn</string>
  <key>LSApplicationQueriesSchemes</key>
  <array>
    <string>fbapi</string>
    <string>fb-messenger-api</string>
    <string>fbauth2</string>
    <string>fbshareextension</string>
  </array>
</dict>
</plist>
